<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center" ><span class="glyphicon glyphicon-alert center" ></span><br>Hiba lépett fel</h1>
    <p class="text-center" >Számítógépe valószínűleg nem támogatja a JavaScript technológiát</p>
    <p class="text-center" >Kérjük vegye fel velünk a kapcsolatot a info@builditgroup.hu címen</p>
  </div>
</div>