<div class="remodal" data-remodal-id="coachattila">
  <button data-remodal-action="close" class="remodal-close"></button>
  <img class="img-responsive" src="/img/modals/coachattila3up.jpg" alt="">
  <h1>Coach Attila</h1>
</div>

<div class="remodal" data-remodal-id="dentalstatus">
  <button data-remodal-action="close" class="remodal-close"></button>
  <img class="img-responsive" src="/img/modals/dental3up.jpg" alt="">
  <h1>Dental Status</h1>
</div>

<div class="remodal" data-remodal-id="kapcsolatmentes">
  <button data-remodal-action="close" class="remodal-close"></button>
  <img class="img-responsive" src="/img/modals/kapcsolatmentes3up.jpg" alt="">
  <h1>Kapcsolatmentés</h1>
</div>

<div class="remodal" data-remodal-id="arnyekdepo">
  <button data-remodal-action="close" class="remodal-close"></button>
  <img class="img-responsive" src="/img/modals/arnyekdepo3up.jpg" alt="">
  <h1>Árnyék Depo</h1>
</div>

<div class="remodal" data-remodal-id="kkmakeup">
  <button data-remodal-action="close" class="remodal-close"></button>
  <img class="img-responsive" src="/img/modals/KK3up.jpg" alt="">
  <h1>KK Makeup</h1>
</div>

<div class="remodal" data-remodal-id="hardsonic">
  <button data-remodal-action="close" class="remodal-close"></button>
  <img class="img-responsive" src="/img/modals/hardsonic3up.jpg" alt="">
  <h1>Hardsonic</h1>
</div>
