<div class="row" id="opening-carousel-wrap" >
	<div class="carousel-wrapper">
		<div class="owl-carousel owl-theme">
			<div class="carousel-item" style="background-image: url('/img/stuffs.jpg')">
				<div class="carousel-title">
                    <h1 class="">
                    	próba  
                    </h1>
                    <p class="">
                    	próba pé
                    </p>
                </div>	
			</div>
			<div class="carousel-item" style="background-image: url('/img/business.jpg')">
				<div class="carousel-title">
                    <h1 class="">
                    	próba  
                    </h1>
                    <p class="">
                    	próba pé
                    </p>
                </div>
			</div>
			<div class="carousel-item" style="background-image: url('/img/design.jpg')">
				<div class="carousel-title">
                    <h1 class="">
                    	próba  
                    </h1>
                    <p class="">
                    	próba pé
                    </p>
                </div>
			</div>
		</div>	
	</div>
</div>
