<div class="row" id="opening-carousel-wrap" >
	<div class="carousel-wrapper">
		<div class="owl-carousel owl-theme">
			<div class="carousel-item" style="background-image: url('/img/stuffs.jpg')">
				<div class="carousel-title">
                    <div class="container">
                        <h1 class="animated fadeInLeft">
                        	Sed lectus libero.
                        </h1>
                        <h5 class="lead animated fadeInRight">
                        	Proin interdum sollicitudin accumsan. Proin et turpis a tellus sagittis egestas euismod at tortor. Ut dignissim ex ac condimentum vestibulum.
                        </h5>
                        <button type="button" class="btn btn-default btn-lg animated fadeInUp">Árajánlat kérés</button>
                    </div>
                </div>	
			</div>
			<div class="carousel-item" style="background-image: url('/img/business.jpg')">
				<div class="carousel-title">
                    <div class="container">
                        <h1 class="">
                        	Próin interdum sollicitudin.
                        </h1>
                        <h5 class="lead">
                        	Aliquam aliquam augue ac libero mollis, in dictum magna varius. Phasellus blandit mattis pharetra. Proin interdum eros ipsum. Vestibulum eros nulla, imperdiet a faucibus sed, egestas id magna. 
                        </h5>
                        <button type="button" class="btn btn-default btn-lg">Érdekel!</button>
                    </div>
                </div>
			</div>
			<div class="carousel-item" style="background-image: url('/img/design.jpg')">
				<div class="carousel-title">
                    <div class="container">
                        <h1 class="">
                        	Nulla facilisis aliquam ex.
                        </h1>
                        <h5 class="lead">
                        	 Cras ex libero, volutpat ullamcorper euismod sit amet, gravida eget risus. Nullam nec laoreet neque. Nunc sem mauris, aliquam et lorem eu, consectetur tristique risus.
                        </h5>
                        <button type="button" class="btn btn-default btn-lg">Bővebben!</button>
                    </div>
                </div>
			</div>
		</div>	
	</div>
</div>
