<div class="owl-carousel owl-theme works-carousel">
  <div class="works-carousel-item"><img src="https://lh3.googleusercontent.com/-St9WqsL1BNQ/VShUqjc2GuI/AAAAAAAAAFg/1uZEl7NhTMQ/w1600-h1113/perspective+website+mockup.jpg"></div>
  <div class="works-carousel-item"><img src="http://zippypixels.com/wp-content/uploads/2015/09/03-3d-Perspective-website-mockup-824x542.jpg"></div>
</div>