<div class="owl-carousel owl-theme works-carousel">
	<div class="works-carousel-item">
		<div class="works-carousel-caption">
			<div class="works-carousel-heading-wrap">
				<h1>HARDSONIC</h1><br>
				<h3>Egyedi weblap, CMS<br>PHP Zero</h3>
			</div>
			
		</div>
		<div class="works-carousel-img" style="background-image:url(/img/mockups/Hardsonic.jpg);">
		</div>
	</div>
	<div class="works-carousel-item">
  		<div class="works-carousel-caption">
			<div class="works-carousel-heading-wrap">
				<h1>KAPCSOLATMENTÉS</h1><br>
				<h3>Egyedi webapplikáció, CMS<br>Ruby on Rails</h3>
			</div>
		</div>
	  	<div class="works-carousel-img" style="background-image:url(/img/mockups/Kapcsolatmentes2.jpg);">
	  	</div>
  	</div>
  	<div class="works-carousel-item">
		<div class="works-carousel-caption">
			<div class="works-carousel-heading-wrap">
				<h1>DENTALSTATUS</h1><br>
				<h3>Egyedi applikáció orvosi célra<br>Ruby on Rails</h3>
			</div>
		</div>
		<div class="works-carousel-img" style="background-image:url(/img/mockups/Dental.jpg);">
		</div>
	</div>
	<div class="works-carousel-item">
		<div class="works-carousel-caption">
			<div class="works-carousel-heading-wrap">
				<h1>KKMAKEUP</h1><br>
				<h3>Egyedi Sablon<br>WordPress</h3>
			</div>
		</div>
		<div class="works-carousel-img" style="background-image:url(/img/mockups/kk_persp.jpg);">
		</div>
	</div>
</div>