<div class="owl-carousel owl-theme works-carousel">
	<div class="works-carousel-item">
		<div class="works-carousel-caption">
			<div class="works-carousel-heading-wrap">
				<h1>próba lorem ipsum ipsum lorem</h1><br>
				<h3>próba h5 az első ref alá próba h5 az első ref alá próba h5 az első ref alá róba h5 az első ref alá próba  róba h5 az első ref alá próba  vróba h5 az első ref alá próba </h3>
			</div>
			
		</div>
		<div class="works-carousel-img" style="background-image:url(http://ricardoborgesphoto.com/wp-content/uploads/2013/11/Panoramica-NY-1920x640.jpg);">
		</div>
	</div>
	<div class="works-carousel-item">
		<div class="works-carousel-caption">
			<div class="works-carousel-heading-wrap">
				<h1>próba</h1><br>
				<h3>próba h5 az első ref alá próba h5 az első ref alá próba h5 az első ref alá róba h5 az első ref alá próba  róba h5 az első ref alá próba  vróba h5 az első ref alá próba </h3>
			</div>
		</div>
		<div class="works-carousel-img" style="background-image:url(https://lh3.googleusercontent.com/-St9WqsL1BNQ/VShUqjc2GuI/AAAAAAAAAFg/1uZEl7NhTMQ/w1600-h1113/perspective+website+mockup.jpg);">
		</div>
	</div>
  	<div class="works-carousel-item">
  		<div class="works-carousel-caption">
			<div class="works-carousel-heading-wrap">
				<h1>próba</h1><br>
				<h3>próba h5 az első ref alá próba h5 az első ref alá próba h5 az első ref alá róba h5 az első ref alá próba  róba h5 az első ref alá próba  vróba h5 az első ref alá próba </h3>
			</div>
		</div>
	  	<div class="works-carousel-img" style="background-image:url(http://www.aghomeinspection.com/wp-content/uploads/2013/09/Bmore-Skyline1-1920-x-640.png);">
	  	</div>
  	</div>
	<div class="works-carousel-item">
		<div class="works-carousel-caption">
			<div class="works-carousel-heading-wrap">
				<h1>próba</h1><br>
				<h3>próba h5 az első ref alá próba h5 az első ref alá próba h5 az első ref alá róba h5 az első ref alá próba  róba h5 az első ref alá próba  vróba h5 az első ref alá próba </h3>
			</div>
		</div>
		<div class="works-carousel-img" style="background-image: url(https://farm9.staticflickr.com/8097/8454378434_139fe1d05d_o.jpg);">
		</div>
	</div>
	<div class="works-carousel-item">
		<div class="works-carousel-caption">
			<div class="works-carousel-heading-wrap">
				<h1>próba</h1><br>
				<h3>próba h5 az első ref alá próba h5 az első ref alá próba h5 az első ref alá róba h5 az első ref alá próba  róba h5 az első ref alá próba  vróba h5 az első ref alá próba </h3>
			</div>
		</div>
		<div class="works-carousel-img" style="background-image:url(https://rimtours.com/wp-content/uploads/Trail-to-Cascade-Falls-1920x640.jpg);">
		</div>
	</div>
</div>