<div class="owl-carousel owl-theme works-carousel">
	<div class="works-carousel-item">
		<div class="works-carousel-caption">
			<div class="works-carousel-heading-wrap">
				<h1>Hardsonic</h1><br>
				<h3>Egyedi webfejlesztés</h3>
			</div>
			
		</div>
		<div class="works-carousel-img" style="background-image:url(/img/mockups/Hardsonic.jpg);">
		</div>
	</div>
	<div class="works-carousel-item">
		<div class="works-carousel-caption">
			<div class="works-carousel-heading-wrap">
				<h1>KKMakeup</h1><br>
				<h3>Egyedi Wordpress weboldal</h3>
			</div>
		</div>
		<div class="works-carousel-img" style="background-image:url(/img/mockups/kk_persp.jpg);">
		</div>
	</div>
  	<div class="works-carousel-item">
  		<div class="works-carousel-caption">
			<div class="works-carousel-heading-wrap">
				<h1>Kapcsolatmentés</h1><br>
				<h3>Webdesign, egyedi webfejlesztés</h3>
			</div>
		</div>
	  	<div class="works-carousel-img" style="background-image:url(/img/mockups/Kapcsolatmentes2.jpg);">
	  	</div>
  	</div>
  	<div class="works-carousel-item">
  		<div class="works-carousel-caption">
			<div class="works-carousel-heading-wrap">
				<h1>Dentalstatus</h1><br>
				<h3>Orvosi applikáció fejlesztés</h3>
			</div>
		</div>
	  	<div class="works-carousel-img" style="background-image:url(/img/mockups/Dental.jpg);">
	  	</div>
  	</div>
</div>