<div class="row section" id="about-hero">
	<div class="container">
		<div class="col-sm-8">
			<h1>HI, WE ARE REEN — 
			<br>DIGITAL CREATIVES</h1>
		</div><!--col-->
	</div><!--container-->
</div><!--row section-->

<div class="row section" id="whoweare">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h2>Who we are?</h2>
				<p> Sed laoreet euismod odio, ut accumsan sapien aliquet non. Nullam urna ante, faucibus in lorem eget, dapibus tincidunt tellus. Morbi neque libero, efficitur sit amet finibus a, commodo vel neque. Aenean nec est maximus, gravida augue non, luctus ex.</p>
			</div><!--col-->
			<div class="col-sm-6">
				<h2>What we do?</h2>
				<p>Aliquam vitae placerat risus. Integer dapibus purus ac tellus cursus, cursus rhoncus orci mollis. Vestibulum vel sem eget turpis efficitur suscipit id ut lacus. Praesent bibendum commodo augue, vitae volutpat sem iaculis quis. </p>
			</div><!--col-->
		</div><!--row-->
	</div><!--container-->	
</div><!--row section-->

<div class="row section" id="aboutus">
	<div class="container">	
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<h1>The people behind the magic</h1>
				<p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor.</p>
			</div><!--col-->
		</div><!--row-->	
		<div class="profiles row">
			<div class="member col-sm-12 col-md-4 text-center">
				<img class="img-responsive center-block" src="img/profile-pics/balage.jpg">
				<h2>Marton Balázs<span>Programozó/webfejlesztő</span></h2>
				<blockquote>Donec libero enim, accumsan nec nunc sit amet, euismod tempus dui. Nulla fermentum odio non urna semper, ut hendrerit nunc semper.</blockquote>
			</div><!--col-->
			<div class="member col-sm-12 col-md-4 text-center">
				<img class="img-responsive center-block" src="img/profile-pics/zoli.jpg">
				<h2>Palatinus Zoltán<span>Webdesigner/Sitebuilder</span></h2>
				<blockquote>Aliquam facilisis nisl et ligula posuere efficitur. Sed laoreet euismod odio, ut accumsan sapien aliquet non. </blockquote>
			</div><!--col-->
			<div class="member col-sm-12 col-md-4 text-center">
				<img class="img-responsive center-block" src="img/profile-pics/chuck.png">
				<h2>Zero Tomi<span>Backend fejlesztő</span></h2>
				<blockquote>Aliquam aliquam augue et arcu tincidunt, non tincidunt tortor maximus. Morbi ornare dui quis nisi lobortis varius. Donec libero.</blockquote>
			</div><!--col-->
		</div><!--row-->
	</div><!--container-->
</div><!--section-->


<div class="row section" id="aboutworkwithus">
	<div class="container">
		<div class="row">
			<div class="awwu-text text-center col-sm-8 col-sm-offset-2">
				<h1>Want to work with us?</h1>
				<button type="button" class="btn btn-default btn-lg">Kapcsolat</button>
			</div>
		</div><!--row-->
	</div><!--container-->
</div><!--row-->