<div class="row section" id="about-hero">
	<div class="container">
		<div class="col-sm-8 animated fadeInLeft">
			<h1>HI, WE ARE REEN — 
			<br>DIGITAL CREATIVES</h1>
		</div><!--col-->
	</div><!--container-->
</div><!--row section-->

<div class="row section" id="whoweare">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h2 class="wow fadeInUp">Kik vagyunk?</h2>
				<p class="wow fadeInUp"> Sed laoreet euismod odio, ut accumsan sapien aliquet non. Nullam urna ante, faucibus in lorem eget, dapibus tincidunt tellus. Morbi neque libero, efficitur sit amet finibus a, commodo vel neque. Aenean nec est maximus, gravida augue non, luctus ex.</p>
			</div><!--col-->
			<div class="col-sm-6">
				<h2 class="wow fadeInUp">Mivel foglalkozunk?</h2>
				<p class="wow fadeInUp">Aliquam vitae placerat risus. Integer dapibus purus ac tellus cursus, cursus rhoncus orci mollis. Vestibulum vel sem eget turpis efficitur suscipit id ut lacus. Praesent bibendum commodo augue, vitae volutpat sem iaculis quis. </p>
			</div><!--col-->
		</div><!--row-->
	</div><!--container-->	
</div><!--row section-->

<div class="row section" id="aboutus">
	<div class="container">	
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<h1 class="wow fadeInUp">Akik a csapatot alkotják</h1>
				<p class="wow fadeInUp">Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor.</p>
			</div><!--col-->
		</div><!--row-->	
		<div class="profiles row">
			<div class="member col-sm-12 col-md-4 text-center">
				<img class="wow fadeInUp img-responsive center-block" src="img/profile-pics/balage.jpg">
				<h2 class="wow fadeInUp">Marton Balázs<span>Programozó/webfejlesztő</span></h2>
				<blockquote class="wow fadeInUp">Donec libero enim, accumsan nec nunc sit amet, euismod tempus dui. Nulla fermentum odio non urna semper, ut hendrerit nunc semper.</blockquote>
			</div><!--col-->
			<div class="member col-sm-12 col-md-4 text-center">
				<img class="wow fadeInUp img-responsive center-block" src="img/profile-pics/zoli.jpg">
				<h2 class="wow fadeInUp">Palatinus Zoltán<span>Webdesigner/Sitebuilder</span></h2>
				<blockquote class="wow fadeInUp">Aliquam facilisis nisl et ligula posuere efficitur. Sed laoreet euismod odio, ut accumsan sapien aliquet non. </blockquote>
			</div><!--col-->
			<div class="member col-sm-12 col-md-4 text-center">
				<img class="wow fadeInUp img-responsive center-block" src="img/profile-pics/chuck.png">
				<h2 class="wow fadeInUp">Zero Tomi<span>Backend fejlesztő</span></h2>
				<blockquote class="wow fadeInUp">Aliquam aliquam augue et arcu tincidunt, non tincidunt tortor maximus. Morbi ornare dui quis nisi lobortis varius. Donec libero.</blockquote>
			</div><!--col-->
		</div><!--row-->
	</div><!--container-->
</div><!--section-->


<div class="row section" id="aboutworkwithus">
	<div class="container">
		<div class="row">
			<div class="awwu-text text-center col-sm-8 col-sm-offset-2">
				<h1 class="wow fadeInUp">Kérjen egy ingyenes konzultációt!</h1>
				<h5 class="wow fadeInUp lead">A telefonos, vagy személyes konzultáció során, elmondhtatja terveit, elképzeléseit, mi pedig azt, hogy hogyan tudnánk megvalósítani azokat!</h5>
				<button type="button" class="wow fadeInUp btn btn-default btn-lg">Kérem!</button>
			</div>
		</div><!--row-->
	</div><!--container-->
</div><!--row-->