<div class="row section" id="about-hero">
	<div class="container">
		<div class="col-sm-6">
			<h1>HI, WE ARE REEN — 
			<br>DIGITAL CREATIVES</h1>
		</div><!--col-->
	</div><!--container-->
</div><!--row section-->

<div class="row section" id="whoweare">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h2>Who we are?</h2>
				<p> Sed laoreet euismod odio, ut accumsan sapien aliquet non. Nullam urna ante, faucibus in lorem eget, dapibus tincidunt tellus. Morbi neque libero, efficitur sit amet finibus a, commodo vel neque. Aenean nec est maximus, gravida augue non, luctus ex.</p>
			</div><!--col-->
			<div class="col-sm-6">
				<h2>What we do?</h2>
				<p>Aliquam vitae placerat risus. Integer dapibus purus ac tellus cursus, cursus rhoncus orci mollis. Vestibulum vel sem eget turpis efficitur suscipit id ut lacus. Praesent bibendum commodo augue, vitae volutpat sem iaculis quis. </p>
			</div><!--col-->
		</div><!--row-->
	</div><!--container-->	
</div><!--row section-->