<div class="row section" id="about-hero">
	<div class="container">
		<div class="col-sm-8 animated fadeInLeft">
			<h1>Build-it — 
			<br>Webet építünk.</h1>
		</div><!--col-->
	</div><!--container-->
</div><!--row section-->

<div class="row section" id="whoweare">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h2 class="wow fadeInUp">Kik vagyunk?</h2>
				<p class="wow fadeInUp"> Egy nemrégiben alapított budapesti székhelyű webfejlesztő csapat vagyunk, akik munkájukra hivatásként tekintenek. A Build-IT Groupot azért hoztuk létre, hogy közös tudásunknak köszönhetően széleskörű szolgáltatást tudjunk nyújtani.</p>
			</div><!--col-->
			<div class="col-sm-6">
				<h2 class="wow fadeInUp">Mivel foglalkozunk?</h2>
				<p class="wow fadeInUp">Letisztult, felhasználóbarát weboldalakat készítünk, melyek képesek arra hogy egy vállalkozás sikerét jelentős mértékben növeljék. Küldetésünk hogy minél több minőségi tartalommal töltsük meg a webet, és hozzájáruljunk ügyfeleink sikereihez.</p>
			</div><!--col-->
		</div><!--row-->
	</div><!--container-->	
</div><!--row section-->



<div class="row section" id="aboutus">
	<div class="container">	
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<h1 class="wow fadeInUp">Akik a csapatot alkotják</h1>
				<!--<p class="wow fadeInUp">Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor.</p>-->
			</div><!--col-->
		</div><!--row-->	
		<div class="profiles row">
			<div class="member col-sm-12 col-md-4 text-center">
				<img class="wow fadeInUp img-responsive center-block" src="img/profile-pics/balage.jpg">
				<h2 class="wow fadeInUp">Marton Balázs<span>Programozó/webfejlesztő</span></h2>
				<!--<blockquote class="wow fadeInUp">Donec libero enim, accumsan nec nunc sit amet, euismod tempus dui. Nulla fermentum odio non urna semper, ut hendrerit nunc semper.</blockquote>-->
			</div><!--col-->
			<div class="member col-sm-12 col-md-4 text-center">
				<img class="wow fadeInUp img-responsive center-block" src="img/profile-pics/zoli.jpg">
				<h2 class="wow fadeInUp">Palatinus Zoltán<span>Webdesigner/Sitebuilder</span></h2>
				<!--<blockquote class="wow fadeInUp">Aliquam facilisis nisl et ligula posuere efficitur. Sed laoreet euismod odio, ut accumsan sapien aliquet non. </blockquote>-->
			</div><!--col-->
			<div class="member col-sm-12 col-md-4 text-center">
				<img class="wow fadeInUp img-responsive center-block" src="img/profile-pics/chuck.png">
				<h2 class="wow fadeInUp">Zero Tomi<span>Backend fejlesztő</span></h2>
				<!--<blockquote class="wow fadeInUp">Aliquam aliquam augue et arcu tincidunt, non tincidunt tortor maximus. Morbi ornare dui quis nisi lobortis varius. Donec libero.</blockquote>-->
			</div><!--col-->
		</div><!--row-->
	</div><!--container-->
</div><!--section-->

<div class="row section" id="whyus">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<h1 class="wow fadeInUp">Miért érdemes minket választani?</h1>
			</div><!--col-->
		</div><!--row-->
		<div class="row">
			<div class="col-sm-4 text-center">				
				<i class="wow fadeInUp icon fa fa-line-chart fa-3x" aria-hidden="true"></i>
				<h2 class="wow fadeInUp">Növekedés</h2>
				<p class="wow fadeInUp">Az általunk készített weboldalak ténylegesen képesek arra, hogy ügyfeleink sikereit jelentős mértékben növeljék. Egy megfelelően keresőoptimalizált, a cég arculatához illeszkedő, minőségi weboldal manapság minden vállalkozás számára elengedhetetlen.</p>
			</div><!--col-->
			<div class="col-sm-4 text-center">				
				<i class="wow fadeInUp icon fa fa-lightbulb-o fa-3x" aria-hidden="true"></i>
				<h2 class="wow fadeInUp">Technológia</h2>
				<p class="wow fadeInUp">A legkorszerűbb technológiákkal dolgozunk. Modern, stabil, és természetesen kizárólag reszponzív wedoldalakat hozunk létre, melyek minden méretű kijelzőn kiválóan jelennek meg. Igény esetén egyedi CMS-el készítjük el az oldalt, saját fejlesztésű, robosztus Rails vagy PHP alapokon.</p>
			</div><!--col-->
			<div class="col-sm-4 text-center">
				<i class="wow fadeInUp icon fa fa-diamond fa-3x" aria-hidden="true"></i>
				<h2 class="wow fadeInUp">Felhasználói élmény</h2>
				<p class="wow fadeInUp">Munkánk során kiemelt figyelmet fordítunk a felhasználói élmény növelésére. Fontosnak tartjuk hogy az elkészült weboldal jól átlátható, letisztult, és könnyen kezelhető legyen. Ez elengedhetetlen feltétele annak, hogy a látogató oldalunkon maradjon, és az oldal elérhesse kítűzött célját.</p>
			</div><!--col-->
		</div><!--row-->
	</div><!--container-->
</div><!--row-->


<div class="row section" id="aboutworkwithus">
	<div class="container">
		<div class="row">
			<div class="awwu-text text-center col-sm-8 col-sm-offset-2">
				<h1 class="wow fadeInUp">Kérjen egy ingyenes konzultációt!</h1>
				<h5 class="wow fadeInUp lead">A telefonos, vagy személyes konzultáció során, elmondhtatja terveit, elképzeléseit, mi pedig azt, hogyan tudnánk megvalósítani azokat!</h5>
				<button type="button" class="wow fadeInUp btn btn-default btn-lg">Kérem!</button>
			</div>
		</div><!--row-->
	</div><!--container-->
</div><!--row-->