<div class="row section" id="contact-info">
	<div class="container">
		<div class="col-md-8 animated fadeInLeft">
			<h1>KAPCSOLAT</h1>
			<p>Kérdése merült fel? Keressen minket bizalommal!</p>
		</div><!--col-->
		<div class="col-md-4 animated fadeInRight">
			<h3>Build-IT Group</h3>
			<ul>
				<li><i class="fa fa-map-marker" aria-hidden="true"></i>1225 Budapest, Példa utca 1.</li>
				<li><i class="fa fa-mobile" aria-hidden="true"></i>Tel.: +3620/504 95 07</li>
				<li><i class="fa fa-envelope-o" aria-hidden="true"></i>info@builditgroup.hu</li>
				<li><a><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
			</ul>
		</div><!--col-->
	</div><!--container-->
</div><!--row section-->

<div class="row section" id="contact-form">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<h2>Üzenjen Nekünk!</h2>
			</div><!--col-->
		</div><!--row-->
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div class="form-group">
					<input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
				</div>
				<div class="form-group">
	               <textarea class="form-control" type="textarea" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>                  
	            </div>
	            <div class="row text-center">
	            	<button type="button" class="btn btn-default btn-lg">Elküld</button>
	            </div><!--button-row-->
			</div><!--col-->
		</div><!--row-->
	</div><!--container-->
</div><!--row-->