<div class="row section" id="services">	
	<div class="container">
		<div class="service-intro row">
			<div class="serv-title col-sm-8 col-sm-offset-2 text-center">	
				<h1 class="wow fadeInUp">Szolgáltatásaink</h1>
				<h5 class="lead wow fadeInUp">Teljes körű webes szolgáltatást nyújtunk kis és középvállalkozások számára, az egyszerű bemutatkozó oldalaktól, az egyedi háttérrendszerrel rendelkező webes applikációkig.</h5>
			</div><!--col-->		
		</div><!--row-->
		<div class="row wow fadeInUp">
			<div class="service col-sm-4 text-center">
				<i class="icon fa fa-desktop fa-2x" aria-hidden="true"></i>
				<span><i class="fa fa-caret-down fa-2x" aria-hidden="true"></i></span>
				<h2>Webdesign</h2>
				<p>Letisztult és felhasználóorientált weboldalakat tervezünk, a hatékonyságra fókuszálva.</p>
			</div><!--col-->
			<div class="service col-sm-4 text-center">
				<i class="icon padd fa fa-cog fa-2x" aria-hidden="true"></i>
				<span><i class="fa fa-caret-down fa-2x" aria-hidden="true"></i></span>
				<h2>Webfejlesztés</h2>
				<p>Teljeskörű webfejlesztés, akár teljesen egyedi háttérrendszer felépítésével.</p>
			</div><!--col-->
			<div class="service col-sm-4 text-center">
				<i class="icon fa fa-code fa-2x" aria-hidden="true"></i>
				<span><i class="fa fa-caret-down fa-2x" aria-hidden="true"></i></span>
				<h2>Sitebuild</h2>
				<p>Template építése Wordpresshez vagy egyedi CMS-hez, tiszta, átlátható kóddal.</p>
			</div><!--col-->
			<div class="service col-sm-4 text-center">
			<i class="icon fa fa-paint-brush fa-2x" aria-hidden="true"></i>
			<span><i class="fa fa-caret-down fa-2x" aria-hidden="true"></i></span>
				<h2>Arculattervezés</h2>
				<p>Logókészítés, illetve kisebb grafikai munkák, például névjegyek elkészítése. </p>
			</div><!--col-->
			<div class="service col-sm-4 text-center">
			<i class="icon fa fa-comments fa-2x" aria-hidden="true"></i>
			<span><i class="fa fa-caret-down fa-2x" aria-hidden="true"></i></span>
				<h2>Support</h2>
				<p>A weboldalak elkészítését követő fejlesztés, tartalomfrissítés, és rendszerkarbantartás. </p>
			</div><!--col-->
			<div class="service col-sm-4 text-center">
			<i class="icon padd fa fa-search fa-2x" aria-hidden="true"></i>
			<span><i class="fa fa-caret-down fa-2x" aria-hidden="true"></i></span>
				<h2>SEO</h2>
				<p>Keresőoptimalizás, hogy minél több potenciális ügyfél látogassa oldalunkat.</p>
			</div><!--col-->
		</div><!--row-->
	</div><!--container-->
</div>


<div class="row section" id="works">
	<div class="container-fluid">
		<div class="row">
			<div class="index-works-title col-sm-8 col-sm-offset-2 text-center">
				<h1 class="wow fadeInUp">Válogatás munkáinkból</h1>
				<!--<h5 class="wow fadeInUp lead">Suspendisse porttitor sed elit in scelerisque. Nulla tincidunt lectus vel nulla mattis, volutpat fermentum justo vulputate.</h5>-->
			</div><!--col-->
		</div><!--row-->
			<div class="row">
				<%= render 'pages/workscarousel' %>
			</div>
		<div class="wow fadeInUp button-row text-center">
			<%= link_to referenciak_path do %>
          <button type="button" class="btn btn-default btn-lg">Még több</button>
      <% end %>
		</div>
	</div><!--container-->
</div><!-- row -->


<div class="row section" id="workwithus">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<h1 class="wow fadeInUp">Szeretne Velünk dolgozni?</h1>
				<h5 class="wow fadeInUp lead">Írja le üzenetében hogy pontosan milyen munkára lenne szüksége, mi pedig készítünk Önnek ajánlatot egy hozzávetőleges árral. Ezt követően személyesen is találkozhatunk, melynek során megbeszéljük a projekt részleteit.</h5>
				<%=	link_to kapcsolat_path do %>
            <button type="button" class="wow fadeInUp btn btn-default btn-lg">Üzenetküldés</button>
        <% end %>
			</div>			
		</div><!--row-->		
	</div><!--container-->
</div><!--row-->