<div class="row section" id="services">	
	<div class="container">
		<div class="service-intro row">
			<div class="service col-sm-8 col-sm-offset-2 text-center">	
				<h1>Beautiful. Clean. Responsive.</h1>
				<h5 class="lead">REEN is a high-quality solution for those who want a beautiful website in no time. It's fully responsive and will adapt itself to any mobile device. iPad, iPhone, Android, it doesn't matter. Your content will always looks its absolute best.</h5>
			</div><!--col-->		
		</div><!--row-->
		<div class="row">
			<div class="service col-sm-4 text-center">
				<i class="icon fa fa-desktop fa-2x" aria-hidden="true"></i>
				<span><i class="fa fa-caret-down fa-2x" aria-hidden="true"></i></span>
				<h2>Webdesign</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquet ex tincidunt leo congue ultrices. Aenean lacinia ex nisi, ac vulputate massa ullamcorper et.</p>
			</div><!--col-->
			<div class="service col-sm-4 text-center">
				<i class="icon padd fa fa-cog fa-2x" aria-hidden="true"></i>
				<span><i class="fa fa-caret-down fa-2x" aria-hidden="true"></i></span>
				<h2>Webfejlesztés</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquet ex tincidunt leo congue ultrices. Aenean lacinia ex nisi, ac vulputate massa ullamcorper et.</p>
			</div><!--col-->
			<div class="service col-sm-4 text-center">
				<i class="icon fa fa-code fa-2x" aria-hidden="true"></i>
				<span><i class="fa fa-caret-down fa-2x" aria-hidden="true"></i></span>
				<h2>Sitebuild</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquet ex tincidunt leo congue ultrices. Aenean lacinia ex nisi, ac vulputate massa ullamcorper et.</p>
			</div><!--col-->
			<div class="service col-sm-4 text-center">
			<i class="icon fa fa-paint-brush fa-2x" aria-hidden="true"></i>
			<span><i class="fa fa-caret-down fa-2x" aria-hidden="true"></i></span>
				<h2>Arculattervezés</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquet ex tincidunt leo congue ultrices. Aenean lacinia ex nisi, ac vulputate massa ullamcorper et.</p>
			</div><!--col-->
			<div class="service col-sm-4 text-center">
			<i class="icon fa fa-comments fa-2x" aria-hidden="true"></i>
			<span><i class="fa fa-caret-down fa-2x" aria-hidden="true"></i></span>
				<h2>Support</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquet ex tincidunt leo congue ultrices. Aenean lacinia ex nisi, ac vulputate massa ullamcorper et.</p>
			</div><!--col-->
			<div class="service col-sm-4 text-center">
			<i class="icon padd fa fa-search fa-2x" aria-hidden="true"></i>
			<span><i class="fa fa-caret-down fa-2x" aria-hidden="true"></i></span>
				<h2>SEO</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquet ex tincidunt leo congue ultrices. Aenean lacinia ex nisi, ac vulputate massa ullamcorper et.</p>
			</div><!--col-->
		</div><!--row-->
	</div><!--container-->
</div>


<div class="row section" id="works">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<h1>Check out our latest works</h1>
				<h5 class="lead">Suspendisse porttitor sed elit in scelerisque. Nulla tincidunt lectus vel nulla mattis, volutpat fermentum justo vulputate.</h5>
			</div><!--col-->
		</div><!--row-->
		<div class="row">
			<div class="col-sm-12 col-md-6 text-center">
				<div class="ref">
					<img class="img-responsive" src="img/screen.jpg">
					<h3><a href="#">Nullam tempor lorem sit amet.</a></h3>
					<p>vulputate</p>
				</div>
			</div><!--col-->
			<div class="col-sm-12 col-md-6 text-center">
				<div class="ref">
					<img class="img-responsive" src="img/screen.jpg">
					<h3><a href="#">Nullam tempor lorem sit amet.</a></h3>
					<p>vulputate</p>
				</div>
			</div><!--col-->
		</div><!--row-->
		<div class="button-row text-center">
			
			<button type="button" class="btn btn-default btn-lg">Még több</button>
		</div>
	</div><!--container-->
</div><!-- row -->


<div class="row section" id="workwithus">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<h1>Want to work with Us?</h1>
				<h5 class="lead">Phasellus fermentum metus vel laoreet ornare. Morbi id aliquam turpis. In a purus in est sagittis dapibus. Praesent sed leo eu tortor scelerisque cursus sit amet ac velit. Duis nec urna semper, euismod lectus vitae, rutrum orci.</h5>
				<button type="button" class="btn btn-default btn-lg">Kapcsolat</button>
			</div>			
		</div><!--row-->		
	</div><!--container-->
</div><!--row-->