<div class="row section" id="references-hero">
	<div class="container text-center">
		<div class="animated fadeInLeft col-sm-12">
			<h1>V치logat치s eddigi munk치inkb칩l</h1>
		</div><!--col-->
	</div><!--container-->
</div><!--row-->


<div class="row section" id="ref-images">
	<div class="container">
		<div class="refpic col-xs-12 col-sm-4 col-md-4">
      		<img class="img-responsive" src="img/mockups/Hardsonicthumb.jpg">
	      	<a class="ref-modal" href="#hardsonic" data-remodal-target="hardsonic">
		      	<div class="overlay">
		      		<h1>+</h1>
		      	</div>
	      	</a>
		</div><!--col-->
		<div class="refpic col-xs-12 col-sm-4 col-md-4">
      		<img class="img-responsive" src="img/mockups/kkmakeup.jpg">
      		<a href="" class="ref-modal" data-remodal-target="kkmakeup" >
      			<div class="overlay">
		      		<h1>+</h1>
		      	</div>
      		</a>
		</div><!--col-->
		<div class="refpic col-xs-12 col-sm-4 col-md-4">
      		<img class="img-responsive" src="img/mockups/kapcsolatmentes3.jpg">
      		<a href="" class="ref-modal" data-remodal-target="kapcsolatmentes" >
      			<div class="overlay">
		      		<h1>+</h1>
		      	</div>
      		</a>
		</div><!--col-->
		<div class="refpic col-xs-12 col-sm-4 col-md-4">
      		<img class="img-responsive" src="img/mockups/Dentalthumb.jpg">
      		<a href="" class="ref-modal" data-remodal-target="dentalstatus" >
      			<div class="overlay">
		      		<h1>+</h1>
		      	</div>
      		</a>
		</div><!--col-->
		<div class="refpic col-xs-12 col-sm-4 col-md-4">
      		<img class="img-responsive" src="img/mockups/thumbs/coachattila.jpg">
      		<a href="" class="ref-modal" data-remodal-target="coachattila" >
      			<div class="overlay">
		      		<h1>+</h1>
		      	</div>
      		</a>
		</div><!--col-->
    <div class="refpic col-xs-12 col-sm-4 col-md-4">
      		<img class="img-responsive" src="img/mockups/arnyekdepo.jpg">
      		<a href="" class="ref-modal" data-remodal-target="arnyekdepo" >
      			<div class="overlay">
		      		<h1>+</h1>
		      	</div>
      		</a>
    </div><!--col-->
	</div><!--container-->
</div><!--row-->


<%=	 render 'pages/referencemodals' %>