<div class="row section" id="references-hero">
	<div class="container text-center">
		<div class="animated fadeInLeft col-sm-12">
			<h1>V치logat치s eddigi munk치inkb칩l</h1>
		</div><!--col-->
	</div><!--container-->
</div><!--row-->


<div class="row section" id="ref-images">
	<div class="container">
		<div class="refpic col-md-4">
      <a class="ref-modal" href="#hardsonic" data-remodal-target="hardsonic"><img class="img-responsive" src="img/mockups/Hardsonicthumb.jpg"></a>
		</div><!--col-->
		<div class="refpic col-md-4">
      <a href="" class="ref-modal" data-remodal-target="kkmakeup" ><img class="img-responsive" src="img/mockups/kkmakeup.jpg"></a>
		</div><!--col-->
		<div class="refpic col-md-4">
      <a href="" class="ref-modal" data-remodal-target="kapcsolatmentes" ><img class="img-responsive" src="img/mockups/kapcsolatmentes3.jpg"></a>
		</div><!--col-->
		<div class="refpic col-md-4">
      <a href="" class="ref-modal" data-remodal-target="dentalstatus" ><img class="img-responsive" src="img/mockups/thumbs/Dentalthumb.jpg"></a>
		</div><!--col-->
		<div class="refpic col-md-4">
      <a href="" class="ref-modal" data-remodal-target="coachattila" ><img class="img-responsive" src="img/mockups/thumbs/coachattila.jpg"></a>
		</div><!--col-->
    <div class="refpic col-md-4">
      <a href="" class="ref-modal" data-remodal-target="arnyekdepo" ><img class="img-responsive" src="img/mockups/arnyekdepo.jpg"></a>
    </div><!--col-->
	</div><!--container-->
</div><!--row-->


<%=	 render 'pages/referencemodals' %>