<div class="row section" id="references-hero">
	<div class="container text-center">
		<div class="animated fadeInLeft col-sm-12">
			<h1>V치logat치s eddigi munk치inkb칩l</h1>
		</div><!--col-->
	</div><!--container-->
</div><!--row-->


<div class="row section" id="ref-images">
	<div class="container">
		<div class="refpic col-md-4">
			<img class="img-responsive" src="img/mockups/Hardsonic.jpg">
		</div><!--col-->
		<div class="refpic col-md-4">
			<img class="img-responsive" src="img/mockups/kkmakeup.jpg">
		</div><!--col-->
		<div class="refpic col-md-4">
			<img class="img-responsive" src="img/mockups/arnyekdepo.jpg">
		</div><!--col-->
		<div class="refpic col-md-4">
			<img class="img-responsive" src="img/mockups/kapcsolatmentes3.jpg">
		</div><!--col-->
		<div class="refpic col-md-4">
			<img class="img-responsive" src="img/mockups/thumbs/dental.png">
		</div><!--col-->
		<div class="refpic col-md-4">
			<img class="img-responsive" src="img/mockups/thumbs/coachattila.png">
		</div><!--col-->
	</div><!--container-->
</div><!--row-->