<div class="row section" id="serv-page-hero">
	<div class="container text-center">
		<div class="col-sm-12 animated fadeInLeft">
			<h1>SZOLGÁLTATÁSAINK</h1>
		</div><!--col-->
	</div><!--container-->
</div><!--row section-->

<div class="serv-page-item row section wow fadeInUp" id="webdesign">
	<div class="container">
		<div class="col-sm-8 col-sm-offset-2 text-center">
			<i class="icon fa fa-desktop fa-2x" aria-hidden="true"></i>
			<span><i class="fa fa-caret-down fa-2x" aria-hidden="true"></i></span>
			<h2>Webdesign</h2>
			<p>Letisztult, felhasználóbarát weboldalakat készítünk, melyek minden méretű kijelzőn tökéletesen jelennek meg. A tervezés folyamán különös figyelmet fordítunk arra, hogy a weboldal céljának eléréséhez szükséges elemek könnyen megtalálhatóak legyenek, és kiemelt helyet kapjanak. Az általunk készült weboldalak teljes mértékben képviselik a megbízó cég arculatát. Fő célunk a vizuális élmény optimalizálása, a legkorszerűbb internetes technológiák használatával. Az elkészített weboldalak ténylegesen képesek arra, hogy mérhető hasznot generáljanak a megbízó  számára. </p>
		</div><!--col-->
	</div><!--container-->	
</div><!--row-->

<div class="serv-page-item row section wow fadeInUp" id="webdevelopment">
	<div class="container">
		<div class="col-sm-8 col-sm-offset-2 text-center">
			<i class="icon padd fa fa-cog fa-2x" aria-hidden="true"></i>
			<span><i class="fa fa-caret-down fa-2x" aria-hidden="true"></i></span>
			<h2>Webfejlesztés</h2>
			<p>Ut hendrerit, velit id faucibus lobortis, arcu purus tincidunt velit, non volutpat enim lacus a risus. Suspendisse accumsan quam gravida leo condimentum, at finibus elit congue. Integer a libero tellus. Sed blandit lobortis enim, vitae facilisis lectus porta ut. Curabitur vitae placerat risus. Aenean imperdiet sapien vel libero consectetur, in bibendum mi euismod. Curabitur facilisis arcu ut massa cursus, ultricies gravida enim suscipit. Nullam ac cursus magna. Curabitur eleifend sem a magna molestie consectetur. Mauris eu nibh a massa aliquet rhoncus non quis est. Sed vitae fermentum dolor, ut feugiat erat.</p>
		</div><!--col-->
	</div><!--container-->	
</div><!--row-->

<div class="serv-page-item row section wow fadeInUp" id="sitebuild">
	<div class="container">
		<div class="col-sm-8 col-sm-offset-2 text-center">
			<i class="icon fa fa-code fa-2x" aria-hidden="true"></i>
			<span><i class="fa fa-caret-down fa-2x" aria-hidden="true"></i></span>
			<h2>Sitebuild</h2>
			<p>Jól átlátható, rendszerezett kóddal, és a legújabb szabványoknak megfelelően építjük fel a weboldalak megjelenését. Készítünk sablonokat saját, vagy akár hozott tervek alapján, melyek felhasználhatók Wordpress sablonként, vagy egyedi rendszerekhez, saját CMS-hez.</p>
		</div><!--col-->
	</div><!--container-->	
</div><!--row-->

<div class="serv-page-item row section wow fadeInUp" id="arculat">
	<div class="container">
		<div class="col-sm-8 col-sm-offset-2 text-center">
			<i class="icon fa fa-paint-brush fa-2x" aria-hidden="true"></i>
			<span><i class="fa fa-caret-down fa-2x" aria-hidden="true"></i></span>
			<h2>Logó és arculattervezés</h2>
			<p>Ügyfeleink számára megtervezzük a logót, és arculati elemeket, illetve megtaláljuk a vállakozás "személyiségét" leginkább tükröző színeket, betűtípusokat. Ezek nem csak a weboldalon használhatóak ezt követően, hanem minden felületen, kiadványon.<br>Kisebb grafikai munkákat is elkészítünk, így például névjegykártyákat, szórólapokat, bannereket. </p>
		</div><!--col-->
	</div><!--container-->	
</div><!--row-->

<div class="serv-page-item row section wow fadeInUp" id="support">
	<div class="container">
		<div class="col-sm-8 col-sm-offset-2 text-center">
			<i class="icon fa fa-comments fa-2x" aria-hidden="true"></i>
			<span><i class="fa fa-caret-down fa-2x" aria-hidden="true"></i></span>
			<h2>Support</h2>
			<p>A weboldal elkészülését követően sem hagyjuk magára! Az oldalt folyamatosan karbantartjuk, szükség esetén korszerűsítjük, módosítjuk, illetve frissítjük a tartalmát.
			</p>
		</div><!--col-->
	</div><!--container-->	
</div><!--row-->

<div class="serv-page-item row section wow fadeInUp" id="seo">
	<div class="container">
		<div class="col-sm-8 col-sm-offset-2 text-center">
			<i class="icon padd fa fa-search fa-2x" aria-hidden="true"></i>
			<span><i class="fa fa-caret-down fa-2x" aria-hidden="true"></i></span>
			<h2>SEO</h2>
			<p>A keresőoptimalizálás, azaz SEO, azért lehet fontos, hogy a keresőmotorokban weboldalunkat minél könnyeben megtalálja célcsoportunk.<br> Mi a hatékony keresőoptimalizálásra is megoldást nyújtunk.</p>
		</div><!--col-->
	</div><!--container-->	
</div><!--row-->

<div class="row section" id="workwithus">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<h1 class="wow fadeInUp">Vegye fel Velünk a kapcsolatot!</h1>
				<h5 class="wow fadeInUp lead">Elavult a weboldala, és szeretne egy modern reszponzív weboldalt?</h5>
				<h5 class="wow fadeInUp lead">Nem rendelkezik még weboldallal, és szeretne új ügyfeleket szerezni az interneten?</h5>
				<%=	link_to kapcsolat_path do %>
            <button type="button" class="wow fadeInUp btn btn-default btn-lg">Kapcsolat</button>
        <% end %>
			</div>			
		</div><!--row-->		
	</div><!--container-->
</div><!--row-->