<table>
  <tr>
    <td id="mcontenttitle">
      kapcsolatfelvétel weblapról
    </td>
  </tr>
  <tr>
    <td id="mfrom">
      feladó: <%= @message.name %> <span id="msender">< <%= @message.email %> ></span>
    </td>
  </tr>
  <tr>
    <td id="mmessage">
      <%= @message.content %>
    </td>
  </tr>
</table>