/* base styles */

.section {
	margin-top: 75px;
}

h1 {
	margin-bottom: 40px;
	font-size: 44px;
}

h2 {
	font-size: 26px;
}


/* owl carousel */


.carousel-item h1 {
	color: #fff;
}

.carousel-item h5 {
	color: #a3b1bf;
	padding-left: 15% !important;
	padding-right: 15% !important;
}

.carousel-item h1 {
	font-size: 4em;
	margin-bottom: 20px !important;
}

.carousel-item button {
 background-color: transparent;
 color: rgba(255,255,255,0.8);
 text-transform: uppercase;
 font-family: 'sourcesanspro-bold';
 border: 1px solid rgba(255,255,255,0.8);
 border-radius: 0;
 margin-top: 20px !important;
}

.carousel-item button:hover {
	background-color: rgba(26, 187, 156, 0.5);
	color: rgba(255,255,255,1);
	border-color: rgba(255,255,255,1);
	transition-duration: 560ms;
}



/* services styles */

#services h1,
#services h2 {
	color: #506a85;	
}

#services h5 {
	color: #707e8c;
}

.service {
	margin-bottom: 40px;
}

.service p {
	padding: 0px 3%;
	color: #707e8c;
	font-size: 16px;

}


.service .icon {
	background-color: #1abb9c;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
}

.service .padd {
	padding-left: 12px;
	padding-right: 12px;
}

.service span {
	display: block;
	margin-top: -12px;
	padding-top: 0px;
	color: #1abb9c;
}


/* works */

#works {
	background-color: #f2f5f7;
}

#works h1 {
	color: #506a85;
	margin-top: 75px;
}

#works h5 {
	color: #707e8c;
}

#works .ref {
	background-color: #fff;
	margin-bottom: 75px;
}

.ref p {
	padding-bottom: 20px;
}

#works h3 a {
	color: #506a85;
}

#works h3 a:hover {
	text-decoration: none;
	color: #1abb9c;
}

.ref {

    border: 1px solid #e6e9ed;
}

#works button {
 background-color: #1abb9c;
 color: #fff;
 text-transform: uppercase;
 font-family: 'sourcesanspro-bold';
 box-shadow: 0px 2px #14957c;
 border: none;
}

#works button:hover {
	background-color: #17a88c;
}

.button-row {
	margin-bottom: 70px;

}

/* work with Us */

#workwithus h5 {
	color: #707e8c;
}



#workwithus h1 {
	color: #506a85;
}

#workwithus button {

background-color: #1abb9c;
 color: #fff;
 text-transform: uppercase;
 font-family: 'sourcesanspro-bold';
 box-shadow: 0px 2px #14957c;
 margin-top: 25px;
 border: none;
}

#workwithus {
	margin-bottom: 90px;
}

#workwithus button:hover {
	background-color: #17a88c;
}









/*FOOTER*/


.top-footer {
	background-color: #2f4052;
	min-height: 200px;
}

.bottom-footer {
	    background-color: #283645;
	    min-height: 50px;
}

.bottom-footer p {
	color: #707e8c;

}

.bottom-footer ul li {
	display: inline-block;
	margin-left: 7px;
}

.bottom-footer ul {
	margin-bottom: 0px;
}

.bottom-footer ul li a {
	color: #707e8c;
}

.footer-menu ul,
.bottom-footer p {
	padding-top: 15px;
}

.bottom-footer ul li a:hover {
	text-decoration: none;
	color: #1abb9c;

}

.top-footer h2,
.top-footer h4,
.top-footer a,
.footer-about small {
	color: #fff;
}

.top-footer p {
	    color: #a3b1bf;
}

.footer-about a i {
	padding-left: 5px;
}

.footer-about a:hover {
	color: #1abb9c;
	text-decoration: none;
}

.top-footer p i {
	margin-right: 10px;
	width: 14px;
}

.footer-contact a i {
	color: #a3b1bf;
	font-size: 2em;
} 

.footer-contact a i:hover {
	color: #1abb9c;
}

.footer-about,
.footer-contact {
	padding: 40px 20px; 
}

.footer-contact ul li {
	list-style: none;
}

.footer-contact ul {
	padding-left: 0px;
}





/* Media queries */
@media screen and (min-width: 768px) {

}
/*Mobile+ end*/

@media screen and (max-width: 767px) {
	.service p {
	padding: 0px 10%;
	}

	.footer-menu {
		display: flex;
		align-items: center;
	}

	.buildit {
		text-align: center;
	}

	.footer-menu ul {
		text-align: center;
		padding-left: 0px;
		padding-bottom: 10px;
	}

	.service {
		margin-bottom: 50px;
	}

}
/*Mobile end*/
