@mixin declare-font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
@font-face {
font-family: '#{$font-family}';
src: url(font-path('#{$font-filename}.eot'));
src: url(font-path('#{$font-filename}.eot?#iefix')) format('embedded-opentype'),
url(font-path('#{$font-filename}.woff')) format('woff'),
url(font-path('#{$font-filename}.ttf')) format('truetype'),
url(font-path('#{$font-filename}.svg##{$font-family}')) format('svg');
font-weight: $font-weight;
font-style: $font-style;
font-stretch: $font-stretch;
}
}
@include declare-font-face('lato-regular', 'lato-regular', 400);
@include declare-font-face('lato-bold', 'lato-bold', 700);
@include declare-font-face('lato-black', 'lato-black', 900);
@include declare-font-face('sourcesanspro-regular', 'sourcesanspro-regular', 400);
@include declare-font-face('sourcesanspro-bold', 'sourcesanspro-bold', 700);

.dirinfo-text{
	font-family: "sourcesanspro-bold";
	font-size: 36px;
	white-space: normal;
}
.navbar-wrapper{
	height:50px;
}

/*OWL CAROUSEL INIT*/
.owl-stage {
display: -webkit-box;
display: -moz-box;
display: -ms-box;
display: box;
}

/* BASE STYLES */

h1,
h2,
h3,
h4 {
	font-family: "lato-bold";
}

p {
	font-family: 'sourcesanspro-regular';
}

/* NAV Styles */

.navbar-brand p {
	font-family: 'lato-black';
	font-size: 27px;
	color: #506a85 !important;
	line-height: 22px;
}

.navbar-brand p:hover {
	cursor: pointer;
}

.navbar-brand p span {
	color: grey;
	padding-left: 7px;
	padding-top: 10px;
}

#full-navbar {
	height:70px;
}

.nav li a {
	font-family: 'sourcesanspro-bold';
	text-transform: uppercase;
	color: #506a85 !important;
	font-size: 15px;
	margin: 12px 10px 0px 10px;
}

.nav li a:hover {
	color: #1abb9c !important;
	cursor: pointer;
}

.nav li a:active {
	color: #1abb9c !important;
}

