@mixin declare-font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
@font-face {
font-family: '#{$font-family}';
src: url(font-path('#{$font-filename}.eot'));
src: url(font-path('#{$font-filename}.eot?#iefix')) format('embedded-opentype'),
url(font-path('#{$font-filename}.woff')) format('woff'),
url(font-path('#{$font-filename}.ttf')) format('truetype'),
url(font-path('#{$font-filename}.svg##{$font-family}')) format('svg');
font-weight: $font-weight;
font-style: $font-style;
font-stretch: $font-stretch;
}
}
@include declare-font-face('lato-regular', 'lato-regular', 400);
@include declare-font-face('lato-bold', 'lato-bold', 700);
@include declare-font-face('lato-black', 'lato-black', 900);
@include declare-font-face('sourcesanspro-regular', 'sourcesanspro-regular', 400);
@include declare-font-face('sourcesanspro-bold', 'sourcesanspro-bold', 700);

.no-scroll{
	overflow: hidden;
	width: 100%;
}

.animatehidden{
}

.wow { visibility: hidden; }

/*OWL CAROUSEL INIT*/

@keyframes worksanimation {
    0% {
      transform:scale(1.1) translate(0,0);
      -ms-transform: scale(1.1) translate(0,0); /* IE 9 */
      -webkit-transform: scale(1.1) translate(0,0);
    }
    50% {
    }
    100% {
      transform:scale(1) translate(0px, -100px);
      -ms-transform: scale(1) translate(0px, -100px); /* IE 9 */
      -webkit-transform: scale(1) translate(0px, -100px);
    }
}

#opening-carousel-wrap{
	margin-left:0;
	margin-right:0;
}
.owl-stage {
display: -webkit-box;
display: -moz-box;
display: -ms-box;
display: box;
}

/* owl overrides */
.owl-carousel {
position: relative;
}
.owl-prev,
.owl-next {
position: absolute;
top: 50%;
}
.owl-prev {
left: 0;
}
.owl-next {
right: 0;
}
.carousel-item{
	display: flex;
    display: -webkit-flex;
	align-items:center;
	padding:0px;
	height: calc(100vh - 62px);
	width:100%;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
    .carousel-title{
    	width:100%;
    	text-align:center;
    	color: #fff;

    	h1{
    		color: #fff;
    		font-size: 4em;
    		-webkit-animation-duration: 2000ms;
    		animation-duration: 2000ms;
    		-webkit-animation-fill-mode: both;
    		animation-fill-mode: both;
    		transition-duration: 2000ms;
			margin:0 0 20px 0;
    	}
    	h5{
    		margin:0 15%;
    		color: #a3b1bf;
    		-webkit-animation-duration: 2000ms;
    		animation-duration: 2000ms;
    		-webkit-animation-fill-mode: both;
    		animation-fill-mode: both;
    		transition-duration: 2000ms;
    	}
    	button{
    		background-color: transparent;
			color: rgba(255,255,255,0.8);
			text-transform: uppercase;
			font-family: 'sourcesanspro-bold';
			border: 1px solid rgba(255,255,255,0.8);
			border-radius: 0;
 			margin-top: 20px;
    		-webkit-animation-duration: 2000ms;
    		animation-duration: 2000ms;
    		-webkit-animation-fill-mode: both;
    		animation-fill-mode: both;
    		transition-duration: 2000ms;
    		margin-top: 25px;
    		&:hover {
				background-color: rgba(26, 187, 156, 0.5);
				color: rgba(255,255,255,1);
				border-color: rgba(255,255,255,1);
				transition-duration: 560ms;
			}
    	}
    }
}
.owl-item.active .works-carousel-item{
	.works-carousel-img{
		height:640px;
		width:100%;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
    	background-position: center;
    	animation: worksanimation 16000ms linear;
	}
}
.works-carousel-caption{
	align-items:center;
	display:flex;
    display: -webkit-flex;
	position:absolute;
	z-index:10;
	width: 100%;
	height:350px;
	.works-carousel-heading-wrap{
		margin:auto;
		padding:2em;
		max-width:400px;	
		h1{
			line-height: 1.5;
			display:inline;
			padding:5px 0; 
			color:#1abb9c;
			background-color:rgba(40,54,69,0.6);
			box-shadow: 7px 0 0 rgba(40,54,69,0.6), -7px 0 0 rgba(40,54,69,0.6);
		}
		h3{
			line-height: 1.75;
			display:inline;
			padding:5px 0; 
			color:white;
			background-color:rgba(40,54,69,0.6);
			box-shadow: 7px 0 0 rgba(40,54,69,0.6), -7px 0 0 rgba(40,54,69,0.6);	
		}
	}
	
}
.works-carousel{
	height:350px;
	overflow: hidden;
	.owl-nav{
		.owl-prev{
			background: rgba(40,54,69,0.6);
		}
		.owl-next{
			background: rgba(40,54,69,0.6);
		}
	}
}

/* BASE STYLES */

h1,h2,h3,h4 {
	font-family: "lato-bold";
}

p {
	font-family: 'sourcesanspro-regular';
}

.dirinfo-text{
	font-family: "sourcesanspro-bold";
	font-size: 36px;
	white-space: normal;
}

/* NAV Styles */
.navbar-wrapper{
	height:62px;
}
.navbar-brand{
	height:62px;
	line-height: 62px;
	padding:0 15px;
	font-family: 'lato-black';
	font-size: 30px;
	color: #506a85 !important;
	margin-bottom: 0;	
	small{
		color: grey;		
	}
}
.nav li a {
	height:62px;
	line-height: 62px;
	padding: 0 15px;
	font-family: 'sourcesanspro-bold';
	text-transform: uppercase;
	color: #506a85 !important;
	font-size: 16px;
	&:hover{
		color: #1abb9c !important;
	}
	&:active{
		color: #1abb9c !important;		
	}
}

.navbar-toggle,
.navbar-toggle:active,
.navbar-toggle:hover {
	margin-top: 14px;
	margin-bottom: 13px;
	background-color: #1abb9c !important;
	border: none;
	box-shadow: 0px 2px #14957c;
}

.navbar-toggle .icon-bar {
	background-color: #fff !important;
	width: 16px;
	height: 3px;
	margin-left: 3px;
	margin-right: 3px;
}

/*Footer*/
.bottom-footer{
	color: #707e8c;
	background-color: #283645;
	min-height: 50px;
	.container{
		padding:15px 0;
		ul{
			li{
				a{
				color: #707e8c;
				transition-duration: 640ms;
					&:hover{
						text-decoration: none;
						color: #1abb9c;
					}
				}
			}
			.active a{
				color: rgba(255,255,255,0.7);
			}
		}
	}
}
.footer-menu{
	text-align:center;
	ul{
		padding:0;
		margin:0;
		list-style: none;
		li{
			display:inline-block;
			margin:0 0 0 5px;
		}
	}
}
/*CONTACT FORM*/

#contact-form{
  .errors{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border: 1px solid #e6e9ed;
    font-family: 'sourcesanspro-bold';
    font-size: 1.1em;
    border-radius: 4px;
    padding:12px;
    background-color:#ff6666;
    color:white;
    margin-bottom:1em;
    transition-duration: 5s;
  }
  .notice{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border: 1px solid #e6e9ed;
    font-family: 'sourcesanspro-bold';
    font-size: 1.1em;
    border-radius: 4px;
    padding:12px;
    background-color:#1abb9c;
    color:white;
    margin-bottom:1em;
    transition-duration: 1.6s;
  }
}

/* Media queries */

/*Mobile*/
@media screen and (max-width: 767px) {

	/*nav*/
	.navbar-nav {
		margin:0 -15px;
		li{
			border-bottom: 1px solid rgb(231, 231, 231);
			&:first-child{
				border-top: 1px solid rgb(231, 231, 231)
			}
		}
	}
	/*footer*/
	.buildit {
		text-align: center;
	}
    /*opening,root carousel*/
    #opening-carousel-wrap{
      h1{
        font-size:30px;
      }
      h5{
      	font-size: 20px,
      }
    }
    /*works carousel index page*/
    .works-carousel-heading-wrap{
      text-align:center;
      h1{
        font-size: 30px;
        line-height: 1.8 !important;
      }
      h3{
      	font-size: 22px;
      }
    }

}

/*Mobile+*/
@media screen and (min-width: 768px) {
	
	/*footer*/
	.footer-menu ul{
		float:right;
	}
}

/*Mobile+SM*/
@media screen and (max-width: 991px){
	.top-footer {
		.container div:first-child::after{
			content:"";
			display:block;
			height:25px;
		}
	}
}

/*SM Devices*/
@media screen and (min-width: 768px) and (max-width:991px) {
	
	/*nav*/
	.navbar-brand {
		font-size: 22px;
	}
	.navbar-nav li a {
    	padding-left: 10px;
    	padding-right: 10px;
	}
	/*footer*/
	.footer-menu{
	padding-left: 0;
	}

	.works-carousel-heading-wrap{
    text-align:center;
    h1{
      font-size: 30px;
      line-height: 1.8 !important;
    }
    h3{
      font-size: 22px;
      line-height: 1.85 !important;
    }
  }
}

/*Mobile low*/
@media screen and (max-width: 320px) {
  /*opening,root carousel*/
  #opening-carousel-wrap{
    h1{
      font-size:26px;
    }
  }
  /*works carousel index page*/
  .works-carousel-heading-wrap{
    text-align:center;
    h1{
      font-size: 26px;
      line-height: 1.8 !important;
    }
    h3{
      font-size: 22px;
      line-height: 1.85 !important;
    }
  }
}

/* Media queries end*/