<footer>
	<div class="top-footer row">
		<div class="container">
			<div class="footer-about col-sm-12 col-md-6">
				<h4>Kik vagyunk?</h4>
				<h2>Build-IT. <small>Group</small></h2>
				<p>Morbi tincidunt consectetur libero id cursus. Curabitur sed luctus felis. Mauris congue nunc aliquet orci efficitur scelerisque. In consectetur magna dapibus, tempus felis a, feugiat lectus.</p>
				<a href="">Tudjon meg többet!<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
			</div><!--col-->
			<div class="footer-contact col-sm-12 col-md-6">
				<h4>Elérhetőségeink</h4>
				<p>Maecenas sem mauris, imperdiet ac elit in, pulvinar feugiat urna. Donec lacinia quis orci at pretium.</p>
				<ul>
					<li><p><i class="fa fa-map-marker" aria-hidden="true"></i>1225 Budapest, Példa utca 1.</p></li>
					<li><p><i class="fa fa-mobile" aria-hidden="true"></i>Tel.: +3620/504 95 07</p></li>
					<li><p><i class="fa fa-envelope-o" aria-hidden="true"></i>info@builditgroup.hu</p></li>
					<li><a><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
				</ul>
			</div><!--col-->
		</div><!-- container -->
	</div><!--row-->
	<div class="bottom-footer row">
		<div class="container">
			<div class="buildit col-sm-12 col-md-6">
				<p>2017 Build-IT Group</p>
			</div>
			<div class="footer-menu col-sm-12 col-md-6">
				<ul class="pull-right">
					<li><a href="">Rólunk</a></li>
					<li><a href="">Szolgáltatások</a></li>
					<li><a href="">Referenciák</a></li>
					<li><a href="">Kapcsolat</a></li>
				</ul>
			</div>
		</div><!-- container -->
	</div><!--row-->
</footer>
